<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CYBER CHAT</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
  <script src="/js/cyberchat.js"></script>
</head>
<body>
  <ul id="chatlog">
  </ul>
  <form>
    <input id="message"></input>
    <button id="send">Send</button>
  </form>
</body>
</html>