@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  background-color: hotpink;
  font-family: 'Inconsolata';
}
form {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255,.5);
}
#message {
  padding: 10px;
  width: 55%;
  margin-right: 10px;
}
#send {
  width: 20%;
  border: none;
  padding: 10px;
}
#chatlog {
  list-style: none;
  margin: 0 auto;
  width: 75%;
/*  height: ;*/
}
#chatlog li{
}